<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.spectra.visual-intel.dingtalk</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/wenzheng/Library/Application Support/SPECTRA/runtime/.venv-llm/bin/python</string>
    <string>/Users/wenzheng/Library/Application Support/SPECTRA/runtime/spectra_agent/dingtalk_push.py</string>
    <string>--config</string>
    <string>spectra_agent/config.v0.1.json</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/wenzheng/Library/Application Support/SPECTRA/runtime</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>10</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/wenzheng/Library/Application Support/SPECTRA/data/logs/dingtalk.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/wenzheng/Library/Application Support/SPECTRA/data/logs/dingtalk.err.log</string>
</dict>
</plist>
